@model IEnumerable<PruebaViewComponentPartialView.Models.Producto>

<h1>Productos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-controller="Producto"
                    asp-action="Detalles"
                    asp-route-idproducto="@item.IdInfoArte"
                    class="btn btn-info">
                    Detalles
                </a>
            </td>
        </tr>
}
    </tbody>
</table>